[submodule "vendor/symfony-classloader/Symfony/Component/ClassLoader"]
	path = vendor/symfony-classloader/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "vendor/symfony-console/Symfony/Component/Console"]
	path = vendor/symfony-console/Symfony/Component/Console
	url = https://github.com/symfony/Console.git
