.screenshot {
    float: left;
    margin: 10px;
}

h2, h3 {
    font-family: sans-serif;
    clear: both;
}

.screenshot h3 {
    background-color: #ddd;
    font-family: sans-serif;
    color: #444;
    padding: 5px;
}

.screenshot.baseSite h3 {
    background-color: #ccffcc;
    color: black;
}

.screenshot p {
    margin: 0px;
}

.screenshot img {
    box-shadow: 10px 10px 5px #888;
    display: block;
    margin-bottom: 10px;
}

table.properties {
    table-layout: fixed;
    width: 400px;
}

table.properties th {
    text-align: left;
}

